body{
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.container{
  background: white;
  padding: 25px;
  border-radius: 10px;
  width: 350px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1{
  text-align: center;
}

.input-section{
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  width: 100%;
}

input{
  flex: 1;
  padding: 8px;
}

button{
  padding: 8px 12px;
  border: none;
  background: #4CAF50;
  color:white;
  cursor: pointer;
  border-radius: 5px;
}

.input-section button:hover{
  background: #010501;
}

/* ul{
  list-style: none;
  padding: 0;
} */
.taskList{
    padding: 0;
}

li{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.task-buttons button{
    margin-left: 5px;
}
.edit-btn{
    background-color: #2196F3;
}
.delete-btn{
  background-color: red;
}

span[contenteditable="true"]{
    padding: 6px 8px;
}