.form-control {
  background: var(--bg) !important;
  border: 1px solid #30363d !important;
  color: var(--text) !important;
  box-shadow: 0 0 10px rgba(88, 166, 255, 0.5);
}

.form-control::placeholder {
  color: #8b949e !important;
}

.form-control:focus {
  border-color: #58a6ff !important;
  box-shadow: 0 0 30px rgba(88, 166, 255, 0.5) !important;
}
